#score-chart {
	position:fixed;
	top:0px;
}

#bot-intuition {
	position:fixed;
	width:100%;
	bottom:5px;
	text-align:center;
}

#ip-address {
	position:fixed;
	width:100%;
	text-align:center;
	color:#FFF;
}

#heat-map-div, #mini-map {
	text-align: center;
	position:fixed;
	bottom:5px;
	right:5px;
}

#heat-map {
	border: 2px solid #FFFFFF;
}

h4 {
	color: #EEE !important;
}
