#intuition-div {
	display: none;
	z-index: 30;
}

#intuition-panel {
	position: fixed;
	bottom: 40px;
	left: 10px;
	background-color: rgba(0,0,0,.5);
	width:350px;	
}

#intuition-panel label {
	color: #FFF;
}

#edit-intuition-btn {
	position:fixed;
	bottom: 10px;
	left: 150px;
}

#teach-btn {
	position:fixed;
	bottom: 10px;
	right: 200px;
}


#score-chart {
	position:fixed;
	top:0px;
}

#ai-intuition {
	position:fixed;
	width:100%;
	bottom:5px;
	text-align:center;
}

#ip-address {
	position:fixed;
	width:100%;
	text-align:center;
	color:#FFF;
	top:0px;
	font-size: 20px;
}

#heat-map-div, #mini-map {
	text-align: center;
	position:fixed;
	bottom:5px;
	right:5px;
}

#heat-map {
	border: 2px solid #FFFFFF;
}

h4 {
	color: #EEE !important;
}

#last-action-best-5 {
	position: fixed;
	bottom: 50px;
	color: #FFF;
}
