#playBtn{
	width: 100%;
	height: auto;
}

#instructions,#nick, .btn-settings,#gamemode {
	display:none !important;
}

a {
	color: #0CE3AC !important;
}

.agario-panel {
	background-color:#303030 !important;
}

#intuition-btn {
	position:fixed;
	bottom: 5px;
	right: 240px;
}

#ai-intuition {
	position:fixed;
	width:100%;
	bottom:0px;
	text-align:center;
}

#heat-map, #mini-map {
	border: 2px solid #999;
	text-align: center;
	position:fixed;
	bottom:5px;
	right:5px;
}

h4 {
	color: #EEE !important;
}

#last-action-best-5 {
	position: fixed;
	bottom: 130px;
}

#ai-status span.alert {
	color: rgb(231,76,60);
}

#leaderboard-div {
	position: fixed;
	top:0px;
	right:5px;
	text-align:right;
}

#score {
	position: fixed;
	left:5px;
	bottom:0px
}

input, .consideration-label {
	color: #FFF !important;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#ping{
	position: fixed;
	left: 5px;
	top: 0px;
}

#exp{
	position:fixed;
	left:100px;
	bottom: 0px;
	width:200px;
	margin-bottom: 5px;
}

#lvl{
	position:fixed;
	left:100px;
	bottom: 20px;
}
